/target
port/target
.rust-analyzer/
.rustc_info.json

.idea/
*.iml
.vscode/
.vscache/

*~
*#
.#*
*.swp
*.swo
*.swo*

TestSuite*
*.snap

DO_NOT_RENAME/
___*

*.tmp
*.bak
*.log
*.cache
*.pid
*.lock

.DS_Store
Thumbs.db
